<h1> Welcome </h1>
<h2> your UID is <span id="result_uid">...</span></h2>

<img src="/tracking/uid.png" width="100" height="100" id="uid" />

<img src="http://shuntd-uk.work/tracking/uid.png" width="100" height="100"/>

<canvas id="cl" width="2" height="2" />

<script>

window.onload = function() {

    var c=document.getElementById("cl");
    var ctx=c.getContext("2d");
    var img=document.getElementById("uid");
    img.crossOrigin = 'anonymous';

    ctx.drawImage(img,0,0);

    var uid = [0,1,2,3].map(function(e){
      var a = [];
      ctx.getImageData(e%2, parseInt(e/2)%2, 1, 1).data.map(function(ie){
        a.push(ie.toString(16));
      });
      return a.join("");
    }).join("");

    document.getElementById("result_uid").innerText = uid;
};

</script>
